html, body, p, th, td, input, select, textarea, button, div {
	padding: 0;
	margin: 0;
	font-family: "microsoft yahei", Tahoma, sans-serif;
	font-size: 12px;
	line-height: 180%;
}

html, body {
	background: #F6F6F6;
}

dl, ol, dt, dd, ul, li, form, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	list-style: none;
}

input, select, textarea, button {
	vertical-align: middle;
	resize: none;
}

.clear {
	clear: both;
	overflow: hidden;
	height: 1px;
}

.clearfix {
	overflow: auto;
	height: 1%
}

img {
	border: 0;
	vertical-align: middle
}

body, a, a:visited {
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #333
}

a, a:hover {
	text-decoration: none
}

img {
	border: 0
}

ul {
	list-style: none;
	margin: 0;
}

label {
	color: #6CBD45;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 0.5em;
	margin: 0;
}

.city_input {
	border: 1px solid #d6d6d6;
	width: 180px;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	text-indent: 5px;
}