<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.AccessoriesDAO" >
  <resultMap id="AccessoriesMap" type="com.gs.bean.Accessories" >
    <id column="accId" property="accId" jdbcType="VARCHAR" />
    <result column="accName" property="accName" jdbcType="VARCHAR" />
    <result column="accCommodityCode" property="accCommodityCode" jdbcType="VARCHAR" />
    <result column="accDes" property="accDes" jdbcType="VARCHAR" />
    <result column="accPrice" property="accPrice" jdbcType="DOUBLE" />
    <result column="accSalePrice" property="accSalePrice" jdbcType="DOUBLE" />
    <result column="accUnit" property="accUnit" jdbcType="VARCHAR" />
    <result column="accTotal" property="accTotal" jdbcType="INTEGER" />
    <result column="accIdle" property="accIdle" jdbcType="INTEGER" />
    <result column="accUsedTime" property="accUsedTime" jdbcType="TIMESTAMP" />
    <result column="accBuyedTime" property="accBuyedTime" jdbcType="TIMESTAMP" />
    <result column="supplyId" property="supplyId" jdbcType="VARCHAR" />
    <result column="accCreatedTime" property="accCreatedTime" jdbcType="TIMESTAMP" />
    <result column="accTypeId" property="accTypeId" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="accStatus" property="accStatus" jdbcType="VARCHAR" />
  </resultMap>

  <!--
查询所有的销售记录
-->
  <select id="queryAll" resultMap="AccessoriesMap">
    <![CDATA[
            select * from auto_platform.t_accessories
        ]]>
  </select>


  <!-- 分页查询 -->
  <select id="queryByPager" resultMap="AccessoriesMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
      select * from auto_platform.t_accessories u where 1 = 1 and u.accStatus = 'Y'
    ]]>
    limit #{beginIndex}, #{pageSize};
  </select>

  <!--查询有多少配件信息-->
  <select id="count" resultType="int" >
    <![CDATA[
      select count(*) from auto_platform.t_accessories u where 1 =1 and u.accStatus = 'Y'
    ]]>
  </select>

  <!--
      添加销售记录
  -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="AccessoriesSale">
    <![CDATA[
            INSERT INTO auto_platform.t_accessories
            (accId,accName, accCommodityCode, accDes, accPrice,accSalePrice,accTotal,accIdle, accUsedTime,accBuyedTime,supplyId,accCreatedTime,accTypeId,companyId,accStatus)
            VALUES
            (uuid(),#{accName},#{accCommodityCode},#{accDes},#{accPrice},#{accSalePrice},#{accTotal},#{accIdle},CURRENT_TIMESTAMP ,CURRENT_TIMESTAMP ,#{supplyId},CURRENT_TIMESTAMP,#{accTypeId},#{companyId},'Y')
        ]]>
  </insert>

  <!--
      更新销售记录信息
  -->
  <update id="update" keyProperty="id" parameterType="java.util.Map">
    UPDATE auto_platform.t_accessories
    SET accName=#{accName}, accCommodityCode=#{accCommodityCode},
    accDes=#{accDes},accPrice=#{accPrice},
    accSalePrice=#{accSalePrice},accTotal=#{accTotal},accIdle=#{accIdle},accUsedTime=CURRENT_TIMESTAMP,accBuyedTime=CURRENT_TIMESTAMP,supplyId=#{supplyId},accTypeId=#{accTypeId},companyId=#{companyId}
    WHERE accId=#{accId}
  </update>

  <!--
      根据id删除对应的配件销售记录
  -->
  <delete id="deleteById">
    DELETE FROM auto_platform.t_accessories WHERE accId=#{accId}
  </delete>


  <!--
      冻结配件销售信息
  -->
  <update id="inactive" keyProperty="id" parameterType="string">
    <![CDATA[
        update auto_platform.t_accessories set accStatus = 'N' where accId = #{accId}
        ]]>
  </update>

  <!--
      激活配件销售信息
  -->
  <update id="active" keyProperty="id" parameterType="string">
    <![CDATA[
        update auto_platform.t_accessories set accStatus = 'Y' where accId = #{accId}
        ]]>
  </update>

  <select id="queryByPagerDisable" resultMap="AccessoriesMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       SELECT *FROM auto_platform.t_accessories WHERE accStatus='N'
    ]]>
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="countByDisable" resultType="int" >
    <![CDATA[
      select count(accId) from auto_platform.t_accessories ck where ck.accStatus = 'N'
    ]]>
  </select>
</mapper>