<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.CarBrandDAO" >
  <resultMap id="carbrandMap" type="carbrand" >
    <id column="brandId" property="brandId" jdbcType="VARCHAR" />
    <result column="brandName" property="brandName" jdbcType="VARCHAR" />
    <result column="brandDes" property="brandDes" jdbcType="VARCHAR" />
    <result column="brandStatus" property="brandStatus" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryAll" resultMap="carbrandMap">
    <![CDATA[
    select * from t_car_brand
      ]]>
  </select>

  <select id="queryByPager" resultMap="carbrandMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       select * from t_car_brand cb  where cb.brandStatus = 'Y'
     ]]>
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="int" >
    <![CDATA[
      select count(brandId) from t_car_brand cb where cb.brandStatus = 'Y'
    ]]>
  </select>

  <insert id="insert"  parameterType="carbrand">
    <![CDATA[
    INSERT into t_car_brand(brandId, brandName, brandDes, brandStatus) values(uuid(), #{brandName}, #{brandDes},'Y')
     ]]>
  </insert>

  <update id="update" parameterType="carbrand">
    <![CDATA[
      update t_car_brand set brandName = #{brandName},brandDes = #{brandDes} where brandId = #{brandId}
     ]]>
  </update>

  <delete id="deleteById" parameterType="string">
    <![CDATA[
     delete from t_car_brand where brandId = #{brandId}
     ]]>
  </delete>

</mapper>