<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.CarColorDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.CarColor" >
    <id column="colorId" property="colorId" jdbcType="VARCHAR" />
    <result column="colorName" property="colorName" jdbcType="VARCHAR" />
    <result column="colorRgb" property="colorRgb" jdbcType="VARCHAR" />
    <result column="colorHex" property="colorHex" jdbcType="VARCHAR" />
    <result column="colorDes" property="colorDes" jdbcType="VARCHAR" />
    <result column="colorStatus" property="colorStatus" jdbcType="VARCHAR" />
  </resultMap>

</mapper>