<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.CarColorDAO" >
  <resultMap id="colorMap" type="carcolor" >
    <id column="colorId" property="colorId" jdbcType="VARCHAR" />
    <result column="colorName" property="colorName" jdbcType="VARCHAR" />
    <result column="colorRgb" property="colorRgb" jdbcType="VARCHAR" />
    <result column="colorHex" property="colorHex" jdbcType="VARCHAR" />
    <result column="colorDes" property="colorDes" jdbcType="VARCHAR" />
    <result column="colorStatus" property="colorStatus" jdbcType="VARCHAR" />
  </resultMap>

    <select id="queryAll" resultMap="colorMap">
            select * from t_car_color
    </select>

    <insert id="insert" parameterType="carcolor">
            insert into t_car_color(colorId,colorName,colorRgb,colorHex,colorDes,colorStatus) values (uuid(),colorName,colorRgb,colorHex,colorDes,colorStatus)
    </insert>

    <update id="update" parameterType="carcolor">
            update t_car_color set colorName = #{colorName},colorRgb = #{colorRgb},colorHex = #{colorHex},colorDes = #{colorDes},colorStatus = #{colorStatus} where colorId = #{colorId}
    </update>

    <delete id="deleteById" parameterType="string">
            delete from t_car_color where colorId = #{colorId}
    </delete>
</mapper>