<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.CarModelDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.CarModel" >
    <id column="modelId" property="modelId" jdbcType="VARCHAR" />
    <result column="modelName" property="modelName" jdbcType="VARCHAR" />
    <result column="modelDes" property="modelDes" jdbcType="VARCHAR" />
    <result column="brandId" property="brandId" jdbcType="VARCHAR" />
    <result column="modelStaus" property="modelStaus" jdbcType="VARCHAR" />
  </resultMap>

</mapper>