<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.CarModelDAO" >
  <resultMap id="carmodelMap" type="carmodel" >
    <id column="modelId" property="modelId" jdbcType="VARCHAR" />
    <result column="modelName" property="modelName" jdbcType="VARCHAR" />
    <result column="modelDes" property="modelDes" jdbcType="VARCHAR" />
    <result column="brandId" property="brandId" jdbcType="VARCHAR" />
    <result column="modelStaus" property="modelStaus" jdbcType="VARCHAR" />
      <association property="carBrand" javaType="com.gs.bean.CarBrand">
          <id property="brandId" column="brandId"/>
          <result property="brandName" column="brandName"/>
      </association>
  </resultMap>

  <select id="queryAll" resultMap="carmodelMap">
      <![CDATA[
           select m.*,b.brandName from t_car_model m,t_car_brand b where m.brandId=b.brandId
        ]]>
  </select>

    <select id="queryByBrandId" resultMap="carmodelMap">
        <![CDATA[
           select m.*,b.brandId from t_car_model m,t_car_brand b where m.brandId=b.brandId and b.brandId = #{id}

        ]]>
    </select>

    <select id="queryByPager" resultMap="carmodelMap"  parameterType="com.gs.common.bean.Pager">
        <![CDATA[
          select m.*,b.brandName from t_car_model m,t_car_brand b where m.brandId=b.brandId and m.modelStaus = 'Y'
           ]]>
        limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="int" >
        <![CDATA[
      select count(colorId) from t_car_model cm where cm.modelStaus = 'Y'
    ]]>
    </select>

  <insert id="insert" parameterType="carmodel">
      <![CDATA[
            insert into t_car_model(modelId,modelName,modelDes,brandId) values (uuid(),#{modelName},#{modelDes},#{brandId},'Y')
       ]]>
  </insert>

  <update id="update" parameterType="carmodel">
      <![CDATA[
            update t_car_model set modelName = #{modelName},modelDes = #{modelDes}, brandId = #{brandId},modelStaus = #{modelStaus} where modelId = #{modelId}
      ]]>
  </update>

  <delete id="deleteById" parameterType="string">
      <![CDATA[
            delete from t_car_model where modelId = #{modelId}
       ]]>
  </delete>

</mapper>