<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.CarPlateDAO" >
  <resultMap id="plateMap" type="carplate" >
    <id column="plateId" property="plateId" jdbcType="VARCHAR" />
    <result column="plateName" property="plateName" jdbcType="VARCHAR" />
    <result column="plateDes" property="plateDes" jdbcType="VARCHAR" />
    <result column="plateStatus" property="plateStatus" jdbcType="VARCHAR" />
  </resultMap>

      <select id="queryByPager" resultMap="plateMap"  parameterType="com.gs.common.bean.Pager">
          <![CDATA[
            select *  from t_car_plate cp where cp.plateStatus = 'Y'
           ]]>
          limit #{beginIndex}, #{pageSize}
      </select>

    <select id="count" resultType="int" >
        <![CDATA[
      select count(plateId) from t_car_plate cp where cp.plateStatus = 'Y'
    ]]>
    </select>

      <insert id="insert" parameterType="carplate">
         <![CDATA[
        insert into t_car_plate(plateId, plateName, plateDes, plateStatus) values(uuid(), #{plateName}, #{plateDes}, 'Y')
         ]]>
      </insert>

      <update id="update" parameterType="carplate">
          <![CDATA[
        update t_car_plate set plateName = #{plateName},plateDes = #{plateDes} where plateId = #{plateId}
          ]]>
      </update>

      <delete id="deleteById" parameterType="string">
          <![CDATA[
        delete from t_car_plate where plateId = #{plateId}
         ]]>
      </delete>

</mapper>