<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.ChargeBillDAO" >
  <resultMap id="chargeBillMap" type="com.gs.bean.ChargeBill" >
    <id column="chargeBillId" property="chargeBillId" jdbcType="VARCHAR" />
    <result column="maintainRecordId" property="maintainRecordId" jdbcType="VARCHAR" />
    <result column="chargeBillMoney" property="chargeBillMoney" jdbcType="DOUBLE" />
    <result column="paymentMethod" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="actualPayment" property="actualPayment" jdbcType="DOUBLE" />
    <result column="chargeTime" property="chargeTime" jdbcType="TIMESTAMP" />
    <result column="chargeCreatedTime" property="chargeCreatedTime" jdbcType="TIMESTAMP" />
    <result column="chargeBillDes" property="chargeBillDes" jdbcType="VARCHAR" />
    <result column="chargeBillStatus" property="chargeBillStatus" jdbcType="VARCHAR" />

    <association property="maintainRecord" javaType="com.gs.bean.MaintainRecord">
      <id column="recordId" property="recordId"/>
      <result column="checkinId" property="checkinId"/>
      <result column="startTime" property="startTime"/>
      <result column="endTime" property="endTime"/>
      <result column="actualEndTime" property="actualEndTime"/>
      <result column="recordCreatedTime" property="recordCreatedTime"/>
      <result column="pickupTime" property="pickupTime"/>
      <result column="recordDes" property="recordDes"/>
      <result column="recordStatus" property="recordStatus"/>

        <association property="checkin" javaType="com.gs.bean.Checkin">
          <id column="checkinId" property="checkinId"></id>
          <result column="userName" property="userName"></result>
          <result column="userName" property="userName" jdbcType="VARCHAR"/>
          <result column="userPhone" property="userPhone" jdbcType="VARCHAR"/>
          <result column="brandId" property="brandId" jdbcType="VARCHAR"/>
          <result column="colorId" property="colorId" jdbcType="VARCHAR"/>
          <result column="modelId" property="modelId" jdbcType="VARCHAR"/>
          <result column="plateId" property="plateId" jdbcType="VARCHAR"/>
          <result column="carPlate" property="carPlate" jdbcType="VARCHAR"/>
          <result column="arriveTime" property="arriveTime" jdbcType="TIMESTAMP"/>
          <result column="carMileage" property="carMileage" jdbcType="DOUBLE"/>
          <result column="carThings" property="carThings" jdbcType="VARCHAR"/>
          <result column="intactDegrees" property="intactDegrees" jdbcType="VARCHAR"/>
          <result column="userRequests" property="userRequests" jdbcType="VARCHAR"/>
          <result column="maintainOrFix" property="maintainOrFix" jdbcType="VARCHAR"/>
          <result column="companyId" property="companyId" jdbcType="VARCHAR"/>
          <result column="nowOil" property="nowOil" jdbcType="DOUBLE"/>
          <result column="ifClearCar" property="ifClearCar" jdbcType="VARCHAR"/>

          <association property="brand" javaType="com.gs.bean.CarBrand">
            <id property="brandId" column="brandId"/>
            <result property="brandName" column="brandName"/>
          </association>

          <association property="color" javaType="com.gs.bean.CarColor">
            <id property="colorId" column="colorId"/>
            <result property="colorName" column="colorName"/>
          </association>

          <association property="plate" javaType="com.gs.bean.CarPlate">
            <id property="plateId" column="plateId"/>
            <result property="plateName" column="plateName"/>
          </association>

          <association property="model" javaType="com.gs.bean.CarModel">
            <id property="modelId" column="modelId"/>
            <result property="modelName" column="modelName"/>
          </association>

          <association property="company" javaType="com.gs.bean.Company">
            <id property="companyId" column="companyId"/>
            <result property="companyName" column="companyName"/>
            <result property="companyAddress" column="companyAddress"/>
            <result property="companyTel" column="companyTel"/>
            <result property="companyLogo" column="companyLogo"/>
          </association>
        </association>
    </association>

  </resultMap>

  <select id="queryByPager" resultMap="chargeBillMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
        select c.*, ck.*, cc.colorId, cc.colorName, cp.plateId, cp.plateName,
        cm.modelId, cm.modelName, cb.brandId, cb.brandName, company.companyId, company.companyName,
         m.* from t_checkin ck, t_car_brand cb,
        t_car_color cc, t_car_model cm, t_car_plate cp, t_company company,
        t_charge_bill c, t_maintain_record m
        where c.maintainRecordId = m.recordId and
        m.checkinId = ck.checkinId and ck.brandId = cb.brandId
        and ck.colorId = cc.colorId and ck.modelId = cm.modelId
        and ck.plateId = cp.plateId and ck.companyId = company.companyId
        and c.chargeBillStatus = 'Y'
    ]]>
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="int" >
    <![CDATA[
      select count(*) from t_charge_bill c where c.chargeBillStatus = 'Y'
    ]]>
  </select>

  <select id="countByDisable" resultType="int" >
    <![CDATA[
        select count(*) from t_charge_bill c where c.chargeBillStatus = 'N'
    ]]>
  </select>

  <select id="queryByPagerDisable" resultMap="chargeBillMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
        select c.*, ck.*, cc.colorId, cc.colorName, cp.plateId, cp.plateName,
        cm.modelId, cm.modelName, cb.brandId, cb.brandName, company.companyId, company.companyName,
         m.* from t_checkin ck, t_car_brand cb,
        t_car_color cc, t_car_model cm, t_car_plate cp, t_company company,
        t_charge_bill c, t_maintain_record m
        where c.maintainRecordId = m.recordId and
        m.checkinId = ck.checkinId and ck.brandId = cb.brandId
        and ck.colorId = cc.colorId and ck.modelId = cm.modelId
        and ck.plateId = cp.plateId and ck.companyId = company.companyId
        and c.chargeBillStatus = 'N'
    ]]>
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="queryById" resultMap="chargeBillMap">
    <![CDATA[
        select c.*, ck.*, cc.colorId, cc.colorName, cp.plateId, cp.plateName,
        cm.modelId, cm.modelName, cb.brandId, cb.brandName, company.companyId, company.companyName,
        company.companyAddress, company.companyTel, company.companyLogo,
         m.* from t_checkin ck, t_car_brand cb,
        t_car_color cc, t_car_model cm, t_car_plate cp, t_company company,
        t_charge_bill c, t_maintain_record m
        where c.maintainRecordId = m.recordId and
        m.checkinId = ck.checkinId and ck.brandId = cb.brandId
        and ck.colorId = cc.colorId and ck.modelId = cm.modelId
        and ck.plateId = cp.plateId and ck.companyId = company.companyId
        and c.chargeBillStatus = 'Y' and c.chargeBillId = #{id}
    ]]>
  </select>

  <select id="queryAll" resultMap="chargeBillMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
        select c.*, ck.*, cc.colorId, cc.colorName, cp.plateId, cp.plateName,
        cm.modelId, cm.modelName, cb.brandId, cb.brandName, company.companyId, company.companyName,
         m.recordId, m.startTime, m.endTime, m.actualEndTime, m.recordCreatedTime,
         m.pickupTime, m.recordDes from t_checkin ck, t_car_brand cb,
        t_car_color cc, t_car_model cm, t_car_plate cp, t_company company,
        t_charge_bill c, t_maintain_record m
        where c.maintainRecordId = m.recordId and
        m.checkinId = ck.checkinId and ck.brandId = cb.brandId
        and ck.colorId = cc.colorId and ck.modelId = cm.modelId
        and ck.plateId = cp.plateId and ck.companyId = company.companyId and c.chargeBillStatus = 'Y'
    ]]>
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="chargeBillId" parameterType="chargeBill">
    <![CDATA[
        insert into t_charge_bill(chargeBillId, maintainRecordId, chargeBillMoney,paymentMethod,actualPayment,chargeTime,chargeCreatedTime,chargeBillDes,chargeBillStatus)
        values(uuid(), #{maintainRecordId}, #{chargeBillMoney}, #{paymentMethod},#{actualPayment},#{chargeTime}, #{chargeCreatedTime}, #{chargeBillDes}, #{chargeBillStatus})
        ]]>
  </insert>

  <!--冻结数据-->
  <update id="inactive" keyProperty="chargeBillId" parameterType="chargeBill">
    <![CDATA[
        update t_charge_bill set chargeBillStatus = 'N' where chargeBillId = #{chargeBillId}
        ]]>
  </update>

  <!--激活数据-->
  <update id="active" keyProperty="chargeBillId" parameterType="chargeBill">
    <![CDATA[
        update t_charge_bill set chargeBillStatus = 'Y' where chargeBillId = #{chargeBillId}
        ]]>
  </update>

</mapper>