<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.CompanyDAO" >
  <resultMap id="companyMap" type="company" >
    <id column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="companyAddress" property="companyAddress" jdbcType="VARCHAR" />
    <result column="companyTel" property="companyTel" jdbcType="VARCHAR" />
    <result column="companyPricipal" property="companyPricipal" jdbcType="VARCHAR" />
    <result column="companyPricipalphone" property="companyPricipalphone" jdbcType="VARCHAR"/>
    <result column="companyWebsite" property="companyWebsite" jdbcType="VARCHAR" />
    <result column="companyLogo" property="companyLogo" jdbcType="VARCHAR" />
    <result column="companyOpendate" property="companyOpendate" jdbcType="DATE" />
    <result column="companySize" property="companySize" jdbcType="VARCHAR" />
    <result column="companyLongitude" property="companyLongitude" jdbcType="DOUBLE" />
    <result column="companyLatitude" property="companyLatitude" jdbcType="DOUBLE" />
    <result column="companyDes" property="companyDes" jdbcType="VARCHAR" />
    <result column="companyStatus" property="companyStatus" jdbcType="VARCHAR" />
  </resultMap>

  <!--查询所有公司-->
  <select id="queryAll" resultMap="companyMap" parameterType="com.gs.bean.User">
    <![CDATA[
    select * from t_company tc where 1=1 and tc.companyStatus='Y'
    ]]>
    <if test="companyId != '' and companyId !=null">
      and tc.companyId = #{companyId}
    </if>
  </select>

  <!--分页查询所有公司-->
  <select id="queryByPager" resultMap="companyMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       select * from t_company tc  where 1=1 and tc.companyStatus = 'Y'
     ]]>
    <if test="user.companyId != '' and user.companyId != null">
      and tc.companyId = #{user.companyId}
    </if>
    limit #{beginIndex}, #{pageSize}
  </select>

  <!--分页查询公司总数-->
  <select id="count" resultType="int" parameterType="com.gs.bean.User">
    <![CDATA[
      select count(companyId) from t_company tc where 1=1 and tc.companyStatus = 'Y'
    ]]>
    <if test="companyId !='' and companyId != null" >
      and tc.companyId = #{companyId}
    </if>
  </select>

  <!--添加公司-->
  <insert id="insert"  parameterType="company">
    <![CDATA[
			INSERT into t_company(companyId, companyName, companyAddress, companyTel,companyPricipal,companyPricipalphone,companyWebsite,companyLogo,companyOpendate,companySize,companyLongitude,companyLatitude,companyDes,companyStatus)
			values(#{companyId}, #{companyName}, #{companyAddress}, #{companyTel}, #{companyPricipal}, #{companyPricipalphone}, #{companyWebsite}, #{companyLogo}, #{companyOpendate}, #{companySize}, #{companyLongitude}, #{companyLatitude}, #{companyDes},'Y')
     ]]>
  </insert>

  <!--修改公司-->
  <update id="update" parameterType="company">
    <![CDATA[
			update t_company set companyName = #{companyName},companyAddress = #{companyAddress},companyTel = #{companyTel},companyPricipal = #{companyPricipal},companyPricipalphone = #{companyPricipalphone},companyWebsite = #{companyWebsite},companyLogo = #{companyLogo},companyOpendate = #{companyOpendate},companySize = #{companySize},companyLongitude = #{companyLongitude},companyLatitude = #{companyLatitude},companyDes = #{companyDes}where companyId = #{companyId}
     ]]>
  </update>

  <!-- 分页查询禁用 -->
  <select id="queryByPagerDisable" resultMap="companyMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       select * from t_company tc  where tc.companyStatus = 'N'
    ]]>
    <if test="user.companyId != '' and user.companyId !=null">
      and tc.companyId = #{user.companyId}
    </if>
    limit #{beginIndex}, #{pageSize}
  </select>

  <!-- 分页查询禁用个数 -->
  <select id="countByDisable" resultType="int" parameterType="com.gs.bean.User">
    <![CDATA[
      select count(tc.companyId) from t_company tc where tc.companyStatus = 'N'
    ]]>
    <if test="companyId != '' and companyId !=null">
      and tc.companyId = #{companyId}
    </if>
  </select>

  <!--  查询此公司名称是否已存在 -->
  <select id="querycompanyName" resultType="int">
    <![CDATA[
      select count(companyName) from t_company where companyName = #{companyName}
    ]]>
    <if test="companyId != null and companyId != ''">
      and companyId != #{companyId}
    </if>
  </select>

  <!--  查询此公司负责人联系电话是否已存在 -->
  <select id="querycompanyPricipalphone" resultType="int">
    <![CDATA[
      select count(companyPricipalphone) from t_company where companyPricipalphone = #{companyPricipalphone}
    ]]>
    <if test="companyId != null and companyId != ''">
      and companyId != #{companyId}
    </if>
  </select>

  <!--冻结数据-->
  <update id="inactive" keyProperty="companyId" parameterType="company">
    <![CDATA[
         update t_company set companyStatus = 'N' where companyId = #{companyId}
        ]]>
  </update>

  <!--激活数据-->
  <update id="active" keyProperty="companyId" parameterType="company">
    <![CDATA[
        update t_company set companyStatus = 'Y' where companyId = #{companyId}
        ]]>
  </update>


  <!-- 同上 -->
  <update id="updLogo" >
    <![CDATA[
      update  t_company set companyLogo=#{companyLogo} where companyId = #{companyId}
    ]]>
  </update>
</mapper>