<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.CompanyDAO" >
  <resultMap id="companyMap" type="company" >
    <id column="company_Id" property="companyId" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="companyAddress" property="companyAddress" jdbcType="VARCHAR" />
    <result column="companyTel" property="companyTel" jdbcType="VARCHAR" />
    <result column="companyPricipal" property="companyPricipal" jdbcType="VARCHAR" />
    <result column="companyWebsite" property="companyWebsite" jdbcType="VARCHAR" />
    <result column="companyLogo" property="companyLogo" jdbcType="VARCHAR" />
    <result column="companyOpendate" property="companyOpendate" jdbcType="DATE" />
    <result column="companySize" property="companySize" jdbcType="VARCHAR" />
    <result column="companyLongitude" property="companyLongitude" jdbcType="DOUBLE" />
    <result column="companyLatitude" property="companyLatitude" jdbcType="DOUBLE" />
    <result column="companyDes" property="companyDes" jdbcType="VARCHAR" />
    <result column="companyStatus" property="companyStatus" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryAll" resultMap="companyMap">
    <![CDATA[
    select * from t_company
    ]]>
  </select>

  <select id="queryByPager" resultMap="companyMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       select * from t_company tc  where tc.companyStatus = 'Y'
     ]]>
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="int" >
    <![CDATA[
      select count(companyId) from t_company tc where tc.companyStatus = 'Y'
    ]]>
  </select>

  <insert id="insert"  parameterType="company">
    <![CDATA[
			INSERT into t_company(companyId, companyName, companyAddress, companyTel,companyPricipal,companyWebsite,companyOpendate,companySize,companyLongitude,companyLatitude,companyDes,companyStatus)
			values(uuid(), #{companyName}, #{companyAddress}, #{companyTel}, #{companyPricipal}, #{companyWebsite}, #{companyOpendate}, #{companySize}, #{companyLongitude}, #{companyLatitude}, #{companyDes},'Y')
     ]]>
  </insert>

  <update id="update" parameterType="company">
    <![CDATA[
			update t_company set companyName = #{companyName},companyAddress = #{companyAddress},companyTel = #{companyTel},companyPricipal = #{companyPricipal},companyWebsite = #{companyWebsite},companyOpendate = #{companyOpendate},companySize = #{companySize},companyLongitude = #{companyLongitude},companyLatitude = #{companyLatitude},companyDes = #{companyDes}where companyId = #{companyId}
     ]]>
  </update>

  <!-- 分页查询禁用 -->
  <select id="queryByPagerDisable" resultMap="companyMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       select * from t_company tc  where tc.companyStatus = 'N'
    ]]>
    limit #{beginIndex}, #{pageSize}
  </select>
  <!-- 分页查询禁用个数 -->
  <select id="countByDisable" resultType="int" >
    <![CDATA[
      select count(companyId) from t_company c where c.companyStatus = 'N'
    ]]>
  </select>


  <!--冻结数据-->
  <update id="inactive" keyProperty="companyId" parameterType="company">
    <![CDATA[
         update t_company set companyStatus = 'N' where companyId = #{companyId}
        ]]>
  </update>

  <!--激活数据-->
  <update id="active" keyProperty="companyId" parameterType="company">
    <![CDATA[
        update t_company set companyStatus = 'Y' where companyId = #{companyId}
        ]]>
  </update>
</mapper>