<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.MaintainFixDAO" >
  <resultMap id="MaintainFixMap" type="com.gs.bean.MaintainFix" >
    <id column="maintainId" property="maintainId" jdbcType="VARCHAR" />
    <result column="maintainName" property="maintainName" jdbcType="VARCHAR" />
    <result column="maintainHour" property="maintainHour" jdbcType="DOUBLE" />
    <result column="maintainMoney" property="maintainMoney" jdbcType="DOUBLE" />
    <result column="maintainManhourFee" property="maintainManhourFee" jdbcType="DOUBLE" />
    <result column="maintainOrFix" property="maintainOrFix" jdbcType="VARCHAR" />
    <result column="maintainDes" property="maintainDes" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="maintainStatus" property="maintainStatus" jdbcType="VARCHAR" />
    <association property="company" javaType="com.gs.bean.Company">
      <id property="companyId" column="companyId"/>
      <result property="companyName" column="companyName"/>
    </association>
  </resultMap>

  <select id="queryAll" resultMap="MaintainFixMap">
    <![CDATA[
            select * from auto_platform.t_maintain_fix
        ]]>
  </select>

  <!-- 分页查询 -->
  <!--<select id="queryByPager" resultMap="MaintainFixMap" parameterType="com.gs.common.bean.Pager">-->
    <!--<![CDATA[-->
      <!--select * from auto_platform.t_maintain_fix u where 1 = 1 and u.maintainStatus = 'Y'-->
    <!--]]>-->
    <!--limit #{beginIndex}, #{pageSize};-->
  <!--</select>-->

  <select id="queryByPager" resultType="list" resultMap="MaintainFixMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
			select mf.*, c.companyName from t_maintain_fix  mf, t_company  c where mf.companyId = c.companyId and mf.maintainOrFix = '维修' limit #{beginIndex}, #{pageSize}
		]]>
  </select>


  <select id="queryByPagerMaintain" resultType="list" resultMap="MaintainFixMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
            select mf.*, c.companyName from t_maintain_fix  mf, t_company  c where mf.companyId = c.companyId and mf.maintainOrFix = '保养' limit #{beginIndex}, #{pageSize}
    ]]>
  </select>

  <select id="count" resultType="int">
    <![CDATA[
			select count(maintainStatus) from t_maintain_fix mf  where mf.maintainStatus = 'Y'
		]]>
  </select>

  <!--<select id="count" resultType="int" >-->
    <!--<![CDATA[-->
      <!--select count(*) from auto_platform.t_maintain_fix u where 1 =1 and u.maintainStatus = 'Y'-->
    <!--]]>-->
  <!--</select>-->

  <!--
      添加采购记录
  -->
  <!--<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="MaintainFix">-->
    <!--<![CDATA[-->
            <!--INSERT INTO auto_platform.t_maintain_fix-->
            <!--(maintainId,maintainName, maintainHour, maintainMoney, maintainManhourFee,maintainOrFix, maintainDes,companyId, maintainStatus)-->
            <!--VALUES-->
            <!--(uuid(),#{maintainName},#{maintainHour},#{maintainMoney},#{maintainManhourFee},#{maintainOrFix},#{maintainDes},#{companyId},'Y')-->
        <!--]]>-->
  <!--</insert>-->

  <!--
      更新采购记录信息
  -->
  <!--<update id="update" keyProperty="id" parameterType="java.util.Map">-->
    <!--<![CDATA[-->
        <!--UPDATE auto_platform.t_maintain_fix-->
        <!--SET maintainName=#{maintainName}, maintainHour=#{maintainHour},-->
        <!--maintainMoney=#{maintainMoney},maintainManhourFee=#{maintainManhourFee},-->
        <!--maintainOrFix=#{maintainOrFix},maintainDes=#{maintainDes},-->
        <!--companyId=#{companyId}-->
        <!--WHERE maintainId=#{maintainId}-->
        <!--]]>-->
  <!--</update>-->


  <!--<delete id="deleteById">-->
    <!--<![CDATA[-->
        <!--DELETE FROM auto_platform.t_maintain_fix WHERE maintainId=#{maintainId}-->
        <!--]]>-->
  <!--</delete>-->


  <!--
      冻结配件采购信息
  -->
  <update id="inactive" keyProperty="id" parameterType="string">
    <![CDATA[
        update auto_platform.t_maintain_fix set maintainStatus = 'N' where maintainId = #{maintainId}
        ]]>
  </update>

  <!--
      激活配件采购信息
  -->
  <update id="active" keyProperty="id" parameterType="string">
    <![CDATA[
        update auto_platform.t_maintain_fix set maintainStatus = 'Y' where maintainId = #{maintainId}
        ]]>
  </update>

  <select id="queryAllStatus" parameterType="string" resultMap="MaintainFixMap">
    <![CDATA[
        select * from auto_platform.t_maintain_fix WHERE maintainStatus=#{maintainStatus};
        ]]>
  </select>

  <select id="queryByPagerDisable" resultMap="MaintainFixMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       SELECT *FROM auto_platform.t_maintain_fix WHERE maintainStatus='N'
    ]]>
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="countByDisable" resultType="int" >
    <![CDATA[
      select count(maintainId) from auto_platform.t_maintain_fix ck where ck.maintainStatus = 'N'
    ]]>
  </select>


</mapper>