<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.MaintainRemindDAO" >
  <resultMap id="BaseResultMap" type="maintainremind" >
    <id column="remindId" property="remindId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="lastMaintainTime" property="lastMaintainTime" jdbcType="TIMESTAMP" />
    <result column="lastMaintainMileage" property="lastMaintainMileage" jdbcType="DOUBLE" />
    <result column="remindMsg" property="remindMsg" jdbcType="VARCHAR" />
    <result column="remindTime" property="remindTime" jdbcType="TIMESTAMP" />
    <result column="remindType" property="remindType" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="remindCreatedTime" property="remindCreatedTime" jdbcType="TIMESTAMP" />

    <association property="user" javaType="com.gs.bean.User">
      <id column="user_id" property="userId"></id>
      <result column="user_name" property="userName"></result>
    </association>

  </resultMap>

  <select id="queryByPager" resultMap="BaseResultMap" parameterType="com.gs.common.bean.Pager">
    select mr.*,u.userId as user_id,u.userName as user_name
    from t_maintain_remind mr,t_user u where mr.userId = u.userId
    and remindMsg is not null
    <!--<if test="user.companyId != null and user.companyId != ''">-->
      <!--and mr.companyId = #{user.companyId}-->
    <!--</if>-->
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="int" parameterType="com.gs.bean.User">
    select count(mr.remindId) from t_maintain_remind mr,t_user u where mr.userId = u.userId and remindMsg is not null
    <!--<if test="companyId != null and companyId != ''">-->
      <!--and mr.companyId = #{companyId}-->
    <!--</if>-->
  </select>

  <update id="update" parameterType="maintainremind">
    update t_maintain_remind set remindMsg=#{remindMsg},remindTime=#{remindTime},remindType=#{remindType},remindCreatedTime=#{remindCreatedTime} where remindId=#{remindId}
  </update>

  <select id="queryByPagerNull" resultMap="BaseResultMap" parameterType="com.gs.common.bean.Pager">
    select mr.*,u.userId as user_id,u.userName as user_name
    from t_maintain_remind mr,t_user u where mr.userId = u.userId
    and remindMsg is null
    <!--<if test="user.companyId != null and user.companyId != ''">-->
      <!--and mr.companyId = #{user.companyId}-->
    <!--</if>-->
    limit #{pager.beginIndex}, #{pager.pageSize}
  </select>

  <select id="countNull" resultType="int" parameterType="com.gs.bean.User">
    select count(mr.remindId) from t_maintain_remind mr,t_user u where mr.userId = u.userId and remindMsg is null
    <!--<if test="companyId != null and companyId != ''">-->
      <!--and mr.companyId = #{companyId}-->
    <!--</if>-->
  </select>
  <insert id="insert"  parameterType="maintainremind">
    <![CDATA[
			insert into t_maintain_remind(remindId, userId, lastMaintainTime, lastMaintainMileage, remindMsg, remindTime, remindType,
				companyId, remindCreatedTime)
				values(#{remindId}, #{userId}, now(), #{lastMaintainMileage}, #{remindMsg}, #{companyId}, now())
		]]>
  </insert>

  <insert id="insertBatch"  parameterType="java.util.List">
    insert into t_maintain_remind (remindId,userId,lastMaintainTime,lastMaintainMileage)values
    <foreach collection="list" item="item" index="index" separator="," >
      (uuid(),#{item.userId},#{item.lastMaintainTime},#{item.lastMaintainMileage})
    </foreach>
  </insert>

  <select id="queryByPagerUser" resultMap="BaseResultMap" parameterType="com.gs.common.bean.Pager">
    select mr.*,u.userId as user_id,u.userName as user_name
    from t_maintain_remind mr,t_user u where mr.userId = u.userId
    and mr.userId = #{userId}
    limit #{pager.beginIndex}, #{pager.pageSize}
  </select>

  <select id="countUser" resultType="int">
    select count(mr.remindId) from t_maintain_remind mr,t_user u where mr.userId = u.userId and mr.userId = #{userId}
  </select>
</mapper>