<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.MaintainFixDAO" >
  <resultMap id="MaintainFixMap" type="com.gs.bean.MaintainFix" >
    <id column="maintainId" property="maintainId" jdbcType="VARCHAR" />
    <result column="maintainName" property="maintainName" jdbcType="VARCHAR" />
    <result column="maintainHour" property="maintainHour" jdbcType="DOUBLE" />
    <result column="maintainMoney" property="maintainMoney" jdbcType="DOUBLE" />
    <result column="maintainManHourFee" property="maintainManHourFee" jdbcType="DOUBLE" />
    <result column="maintainOrFix" property="maintainOrFix" jdbcType="VARCHAR" />
    <result column="maintainDes" property="maintainDes" jdbcType="VARCHAR" />
    <result column="maintainStatus" property="maintainStatus" jdbcType="VARCHAR" />

    <association property="company" javaType="com.gs.bean.Company">
      <id property="companyId" column="companyId"/>
      <result property="companyName" column="companyName"/>
    </association>
    <association property="maintainFixAcc" javaType="com.gs.bean.MaintainFixAcc">
      <id property="mainAccId" column="mainAccId"/>
      <result property="accCount" column="accCount"/>
      <result property="maintainId" column="maintainId"/>
    </association>
    <association property="accessories" javaType="com.gs.bean.Accessories">
      <id property="accId" column="accId"/>
      <result property="accName" column="accName"/>
    </association>
  </resultMap>

  <!--查询所有维修保养项目-->
  <select id="queryAll" resultMap="MaintainFixMap" parameterType="com.gs.bean.User">
    <![CDATA[
            select * from auto_platform.t_maintain_fix fix where fix.maintainStatus = 'Y'
        ]]>
    <if test="companyId != '' and companyId !=null">
      and fix.companyId = #{companyId}
    </if>
  </select>

  <!--分页查询所有维修保养项目-->
  <select id="queryByPagerAll" resultType="list" resultMap="MaintainFixMap" parameterType="com.gs.common.bean.Pager">
     <![CDATA[
          select * from auto_platform.t_maintain_fix fix where fix.maintainStatus = 'Y'
    ]]>
    <if test="user.companyId != '' and user.companyId !=null">
      and fix.companyId = #{user.companyId}
    </if>
    limit #{beginIndex}, #{pageSize}
  </select>

  <!--分页查询维修项目-->
  <select id="queryByPager" resultType="list" resultMap="MaintainFixMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
          select mf.*, c.companyName from t_maintain_fix  mf, t_company  c where mf.companyId = c.companyId and mf.maintainOrFix = '维修' and mf.maintainStatus = 'Y'
    ]]>
    <if test="user.companyId != '' and user.companyId !=null">
      and mf.companyId = #{user.companyId}
    </if>
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="int" parameterType="com.gs.bean.User">
    <![CDATA[
			select count(maintainStatus) from t_maintain_fix mf  where mf.maintainOrFix = '维修'and mf.maintainStatus = 'Y'
		]]>
    <if test="companyId != '' and companyId !=null">
      and mf.companyId = #{companyId}
    </if>
  </select>

  <!--分页查询保养项目-->
  <select id="queryByPagerMaintain" resultType="list" resultMap="MaintainFixMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
            select mf.*, c.companyName from t_maintain_fix  mf, t_company  c where mf.companyId = c.companyId and mf.maintainOrFix = '保养' and mf.maintainStatus = 'Y'
    ]]>
    <if test="user.companyId != '' and user.companyId !=null">
      and mf.companyId = #{user.companyId}
    </if>
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="countMaintain" resultType="int" parameterType="com.gs.bean.User">
    <![CDATA[
      select count(maintainStatus) from t_maintain_fix mf  where mf.maintainOrFix = '保养'and mf.maintainStatus = 'Y'
    ]]>
    <if test="companyId != '' and companyId !=null">
      and mf.companyId = #{companyId}
    </if>
  </select>

  <!--添加维修保养项目-->
  <insert id="insert"  parameterType="MaintainFix">
    <![CDATA[
			insert into t_maintain_fix (maintainId,maintainName,maintainHour,maintainMoney,maintainManHourFee,maintainOrFix,maintainDes,maintainStatus,companyId) values (UUID(),#{maintainName},#{maintainHour},#{maintainMoney},#{maintainManHourFee},#{maintainOrFix},#{maintainDes},'Y',#{companyId})
		]]>
  </insert>
  <!--修改维修保养项目-->
  <update id="update" parameterType="MaintainFix">
    <![CDATA[
			update t_maintain_fix set maintainName = #{maintainName} , maintainHour = #{maintainHour} , maintainMoney = #{maintainMoney} , maintainManHourFee = #{maintainManHourFee} , maintainDes = #{maintainDes} , companyId = #{companyId} , maintainStatus = 'Y' where maintainId = #{maintainId}
		]]>
  </update>

  <!-- 分页保养查询禁用 -->
  <select id="queryByPagerDisable" resultMap="MaintainFixMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
    select mf.*, c.companyId,c.companyName from t_maintain_fix mf left join t_company c on mf.companyId = c.companyId where mf.maintainStatus = 'N' and mf.maintainOrFix = '保养'
    ]]>
    <if test="user.companyId != '' and user.companyId !=null">
      and mf.companyId = #{user.companyId}
    </if>
    limit #{beginIndex}, #{pageSize}
  </select>


  <!-- 分页查询禁用个数 -->
  <select id="countByDisable" resultType="int" parameterType="com.gs.bean.User">
    <![CDATA[
      select count(maintainId) from t_maintain_fix mf where mf.maintainStatus = 'N'
    ]]>
    <if test="companyId != '' and companyId !=null">
      and mf.companyId = #{companyId}
    </if>
  </select>


  <!-- 分页维修查询禁用 -->
  <select id="queryByPagerDisableService" resultMap="MaintainFixMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
    select mf.*, c.companyId,c.companyName from t_maintain_fix mf left join t_company c on mf.companyId = c.companyId where mf.maintainStatus = 'N' and mf.maintainOrFix = '维修'
    ]]>
    <if test="user.companyId != '' and user.companyId !=null">
      and mf.companyId = #{user.companyId}
    </if>
    limit #{beginIndex}, #{pageSize}
  </select>



  <!-- 分页查询禁用个数 -->
  <select id="countByDisableService" resultType="int" parameterType="com.gs.bean.User">
    <![CDATA[
      select count(maintainId) from t_maintain_fix mf where mf.maintainStatus = 'N'
    ]]>
    <if test="companyId != '' and companyId !=null">
      and mf.companyId = #{companyId}
    </if>
  </select>

  <!--冻结数据-->
  <update id="inactive" keyProperty="maintainId" parameterType="MaintainFix">
    <![CDATA[
         update t_maintain_fix set maintainStatus = 'N' where maintainId = #{maintainId}
        ]]>
  </update>

  <!--激活数据-->
  <update id="active" keyProperty="maintainId" parameterType="MaintainFix">
    <![CDATA[
        update t_maintain_fix set maintainStatus = 'Y' where maintainId = #{maintainId}
        ]]>
  </update>


</mapper>