<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.MaintainDetailDAO" >
  <resultMap id="maintainDetailMap" type="com.gs.bean.MaintainDetail" >
    <id column="maintainDetailId" property="maintainDetailId" jdbcType="VARCHAR" />
    <result column="maintainRecordId" property="maintainRecordId" jdbcType="VARCHAR" />
    <result column="count" property="count"/>
    <result column="maintainItemId" property="maintainItemId" jdbcType="VARCHAR" />
    <result column="maintainDiscount" property="maintainDiscount" jdbcType="DOUBLE" />
    <result column="mdcreatedTime" property="mdcreatedTime" jdbcType="TIMESTAMP" />

    <association property="maintainFix" javaType="com.gs.bean.MaintainFix">
      <id column="maintainId" property="maintainId"/>
      <result column="maintainName" property="maintainName"/>
      <result column="maintainHour" property="maintainHour" jdbcType="DOUBLE"/>
      <result column="maintainMoney" property="maintainMoney" jdbcType="DOUBLE"/>
      <result column="maintainOrFix" property="maintainOrFix"/>
      <result column="maintainDes" property="maintainDes"/>
          <association property="company" javaType="com.gs.bean.Company">
            <id property="companyId" column="companyId"/>
            <result property="companyName" column="companyName"/>
          </association>
    </association>
  </resultMap>

  <select id="queryByPager" resultMap="maintainDetailMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       select md.*, mf.maintainId, mf.maintainName from t_maintain_detail md
       LEFT JOIN t_maintain_fix mf on md.maintainItemId = mf.maintainId
       where 1=1
    ]]>
    <if test="user.companyId != '' and user.companyId != null">
      and ck.companyId = #{user.companyId}
    </if>
    order by md.mdCreatedTime Desc
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="int" parameterType="com.gs.bean.User">
    <![CDATA[
      select count(maintainDetailId) from t_maintain_detail where 1=1
    ]]>
    <if test="companyId != '' and companyId != null">
      and ck.companyId = #{user.companyId}
    </if>
  </select>

  <select id="queryByDetailByPager" resultMap="maintainDetailMap">
    <![CDATA[
       select md.*, mf.maintainId, mf.maintainName, mf.maintainHour,
        mf.maintainMoney, mf.maintainOrFix, mf.maintainDes from t_maintain_detail md
       LEFT JOIN t_maintain_fix mf on md.maintainItemId = mf.maintainId
       where md.maintainRecordId = #{maintainRecordId}
       order by md.mdCreatedTime Desc
    ]]>
    limit #{pager.beginIndex}, #{pager.pageSize}
  </select>

  <select id="queryByRecordId" resultMap="maintainDetailMap">
    <![CDATA[
       select md.*, mf.maintainId, mf.maintainName, mf.maintainHour,
        mf.maintainMoney, mf.maintainOrFix, mf.maintainDes from t_maintain_detail md
       LEFT JOIN t_maintain_fix mf on md.maintainItemId = mf.maintainId
       where md.maintainRecordId = #{maintainRecordId}
       order by md.mdCreatedTime Desc
    ]]>
  </select>

  <select id="countByDetail" resultType="int">
    <![CDATA[
      select count(maintainDetailId) from t_maintain_detail where maintainRecordId = #{maintainRecordId}
    ]]>
  </select>

  <insert id="insert"  parameterType="MaintainDetail">
    <![CDATA[
			insert into t_maintain_detail(maintainDetailId, maintainRecordId, maintainItemId, maintainDiscount, mdCreatedTime)
				values(uuid(), #{maintainRecordId}, #{maintainItemId}, #{maintainDiscount}, now())
		]]>
  </insert>

  <update id="update" parameterType="MaintainDetail">
    <![CDATA[
			update t_maintain_detail set maintainDetailId = #{maintainDetailId}, maintainRecordId = #{maintainRecordId}, maintainItemId = #{maintainItemId}, maintainDiscount = #{maintainDiscount},
				mdCreatedTime = now() where maintainDetailId = #{maintainDetailId}
		]]>
  </update>

  <!--维修项目统计报表-->
  <!--员工工单报表-->
  <select id="queryByCondition" resultMap="maintainDetailMap">
    <![CDATA[
  select count(md.maintainDetailId), md.mdCreatedTime from t_maintain_detail md, t_maintain_fix mf, t_company c where md.maintainItemId = mf.maintainId and
c.companyId = mf.companyId and mf.maintainStatus = 'Y'  and c.companyId = #{companyId}
and mf.maintainId = #{maintainId} and md.mdCreatedTime >= #{start} and md.mdCreatedTime <= #{end};
        ]]>
    <if test="type =='year'">
      group by date_format(md.mdCreatedTime, '%Y') ORDER BY md.mdCreatedTime ASC;
    </if>
    <if test="type =='quarter'">
      group by concat(date_format(md.mdCreatedTime, '%Y'),FLOOR((date_format(md.mdCreatedTime, '%m')+2)/3)) ORDER BY md.mdCreatedTime ASC;
    </if>
    <if test="type =='month'">
      group by date_format(md.mdCreatedTime, '%y-%m') ORDER BY md.mdCreatedTime ASC;
    </if>
    <if test="type =='week'">
      group by date_format(md.mdCreatedTime, '%y-%m') ORDER BY md.mdCreatedTime ASC;
    </if>
    <if test="type =='day'">
      group by date(md.mdCreatedTime) ORDER BY md.mdCreatedTime ASC;
    </if>

  </select>
</mapper>