<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.MaintainRecordDAO" >
  <resultMap id="BaseResultMap" type="MaintainRecord" >
    <id column="recordId" property="recordId" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
    <result column="actualEndTime" property="actualEndTime" jdbcType="TIMESTAMP" />
    <result column="recordCreatedTime" property="recordCreatedTime" jdbcType="TIMESTAMP" />
    <result column="pickupTime" property="pickupTime" jdbcType="TIMESTAMP" />
    <result column="recordDes" property="recordDes" jdbcType="VARCHAR" />
    <result column="recordStatus" property="recordStatus" jdbcType="VARCHAR" />
    <association property="checkin" javaType="com.gs.bean.Checkin">
      <id column="checkin_id" property="checkinId"></id>
      <result column="user_name" property="userName"></result>
    </association>
  </resultMap>

  <select id="queryAll" resultMap="BaseResultMap">
    select m.*,c.checkinId as checkin_id,c.userName as user_name from t_maintain_record m, t_checkin c where m.checkinId = c.checkinId
  </select>

  <update id="inactive" parameterType="string">
    update t_maintain_record set recordStatus = 'N' where recordId = #{recordId}
  </update>

  <update id="active" parameterType="string">
    update t_maintain_record set recordStatus = 'Y' where recordId = #{recordId}
  </update>

</mapper>