<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.MaterialListDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.MaterialList" >
    <id column="materialId" property="materialId" jdbcType="VARCHAR" />
    <result column="maintainRecordId" property="maintainRecordId" jdbcType="VARCHAR" />
    <result column="accId" property="accId" jdbcType="VARCHAR" />
    <result column="materialCount" property="materialCount" jdbcType="INTEGER" />
    <result column="materialCreatedTime" property="materialCreatedTime" jdbcType="TIMESTAMP" />
    <result column="materialStatus" property="materialStatus" jdbcType="VARCHAR" />
  </resultMap>

</mapper>