<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.MaterialUseDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.MaterialUse" >
    <id column="materialUseId" property="materialUseId" jdbcType="VARCHAR" />
    <result column="matainRecordId" property="matainRecordId" jdbcType="VARCHAR" />
    <result column="accId" property="accId" jdbcType="VARCHAR" />
    <result column="accCount" property="accCount" jdbcType="INTEGER" />
    <result column="muCreatedTime" property="muCreatedTime" jdbcType="TIMESTAMP" />
    <result column="muUseDate" property="muUseDate" jdbcType="TIMESTAMP" />
  </resultMap>

</mapper>