<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.MessageSendDAO" >
  <resultMap id="BaseResultMap" type="messageSend" >
    <id column="messageId" property="messageId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="sendMsg" property="sendMsg" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="sendCreatedTime" property="sendCreatedTime" jdbcType="TIMESTAMP" />

    <association property="user" javaType="com.gs.bean.User">
      <id column="user_id" property="userId"></id>
      <result column="user_name" property="userName"></result>
    </association>
  </resultMap>

  <select id="queryByPager" resultMap="BaseResultMap" parameterType="com.gs.common.bean.Pager">
    SELECT m.*,u.userId as user_id,u.userName as user_name  FROM t_message_send m
    LEFT JOIN t_user u ON m.userId = u.userId
    <if test="user.companyId != null and user.companyId != ''">
      and m.companyId = #{user.companyId}
    </if>
    limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="int" parameterType="com.gs.bean.User" >
    select count(m.messageId) from t_message_send m where 1=1
    <if test="companyId != null and companyId != ''">
      and m.companyId = #{companyId}
    </if>
  </select>

  <insert id="insertRemind" parameterType="messageSend">
    insert into t_message_send(messageId,userId,sendMsg,sendTime,sendCreatedTime) values(#{messageId},#{userId},#{sendMsg},#{sendTime},#{sendCreatedTime})
  </insert>

  <insert id="insert" parameterType="messageSend">
    insert into t_message_send(messageId,userId,sendMsg,sendTime,sendCreatedTime) values(uuid(),#{userId},#{sendMsg},#{sendTime},#{sendCreatedTime})
  </insert>

  <insert id="batchInsert"  parameterType="java.util.List">
    insert into t_message_send (messageId,userId,sendMsg,sendTime, sendCreatedTime)values
    <foreach collection="list" item="item" index="index" separator="," >
      (uuid(),#{item.userId},#{item.sendMsg},#{item.sendTime}, #{item.sendCreatedTime})
    </foreach>
  </insert>

  <update id="update" parameterType="messageSend">
    update t_message_send set sendMsg=#{sendMsg},sendTime=#{sendTime},sendCreatedTime=#{sendCreatedTime} where messageId=#{messageId}
  </update>

</mapper>