<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.OutgoingTypeDAO" >
  <resultMap id="outGoingTypeMap" type="com.gs.bean.OutgoingType" >
    <id column="outTypeId" property="outTypeId" jdbcType="VARCHAR" />
    <result column="outTypeName" property="outTypeName" jdbcType="VARCHAR" />
    <result column="outTypeStatus" property="outTypeStatus" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryAll" resultType="list" resultMap="outGoingTypeMap">
        <![CDATA[
        select * from t_outgoing_type
        ]]>
    </select>

  <select id="count" resultType="int" parameterType="outGoingType">
    select count(*) from t_outgoing_type;
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="outTypeId" parameterType="outGoingType">
    <![CDATA[
        insert into t_outgoing_type(outTypeId, outTypeName, outTypeStatus) values(#{outTypeId}, #{outTypeName}, #{outTypeStatus})
        ]]>
  </insert>

  <update id="update" keyProperty="outTypeId" parameterType="outGoingType">
    <![CDATA[
        update t_outgoing_type set outTypeName = #{outTypeName}, outTypeStatus = #{outTypeStatus} where outTypeId = #{outTypeId}
        ]]>
  </update>

  <!--冻结数据-->
  <update id="inactive" keyProperty="outTypeId" parameterType="outGoingType">
    <![CDATA[
        update t_outgoing_type set outTypeStatus = 'N' where outTypeId = #{outTypeId}
        ]]>
  </update>

  <!--激活数据-->
  <update id="active" keyProperty="outTypeId" parameterType="outGoingType">
    <![CDATA[
        update t_outgoing_type set outTypeStatus = 'Y' where outTypeId = #{outTypeId}
        ]]>
  </update>


</mapper>