<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.SalaryDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.Salary" >
    <id column="salaryId" property="salaryId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="prizeSalary" property="prizeSalary" jdbcType="DOUBLE" />
    <result column="minusSalay" property="minusSalay" jdbcType="DOUBLE" />
    <result column="totalSalary" property="totalSalary" jdbcType="DOUBLE" />
    <result column="salaryDes" property="salaryDes" jdbcType="VARCHAR" />
    <result column="salaryTime" property="salaryTime" jdbcType="TIMESTAMP" />
    <result column="salaryCreatedTime" property="salaryCreatedTime" jdbcType="TIMESTAMP" />
  </resultMap>

</mapper>