<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.SupplyTypeDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.SupplyType" >
    <id column="supplyTypeId" property="supplyTypeId" jdbcType="VARCHAR" />
    <result column="supplyTypeName" property="supplyTypeName" jdbcType="VARCHAR" />
    <result column="supplyTypeDes" property="supplyTypeDes" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="supplyTypeStatus" property="supplyTypeStatus" jdbcType="VARCHAR" />
  </resultMap>

</mapper>