<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.TrackListDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.TrackList" >
    <id column="trackId" property="trackId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="trackContent" property="trackContent" jdbcType="VARCHAR" />
    <result column="serviceEvaluate" property="serviceEvaluate" jdbcType="INTEGER" />
    <result column="trackUser" property="trackUser" jdbcType="VARCHAR" />
    <result column="trackCreatedTime" property="trackCreatedTime" jdbcType="TIMESTAMP" />
  </resultMap>

</mapper>