<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.dao.UserDAO">
  <resultMap id="BaseResultMap" type="com.gs.bean.User">
    <id column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="userEmail" jdbcType="VARCHAR" property="userEmail" />
    <result column="userPhone" jdbcType="VARCHAR" property="userPhone" />
    <result column="userPwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="userNickName" jdbcType="VARCHAR" property="userNickName" />
    <result column="userIdentity" jdbcType="VARCHAR" property="userIdentity" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="userGender" jdbcType="VARCHAR" property="userGender" />
    <result column="userBirthday" jdbcType="TIMESTAMP" property="userBirthday" />
    <result column="userAddress" jdbcType="VARCHAR" property="userAddress" />
    <result column="qqOpenId" jdbcType="VARCHAR" property="qqOpenId" />
    <result column="weiboOpenId" jdbcType="VARCHAR" property="weiboOpenId" />
    <result column="weChatOpenId" jdbcType="VARCHAR" property="weChatOpenId" />
    <result column="userIcon" jdbcType="VARCHAR" property="userIcon" />
    <result column="userDes" jdbcType="VARCHAR" property="userDes" />
    <result column="companyId" jdbcType="VARCHAR" property="companyId" />
    <result column="userSalary" jdbcType="DOUBLE" property="userSalary" />
    <result column="userCreatedTime" jdbcType="TIMESTAMP" property="userCreatedTime" />
    <result column="userLoginedTime" jdbcType="TIMESTAMP" property="userLoginedTime" />
    <result column="userStatus" jdbcType="VARCHAR" property="userStatus" />
  </resultMap>

  <!-- 添加员工的基本信息 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="userId" parameterType="user">
    ![CDATA[
        insert into t_user(userEmail, userPhone, userPwd, userNickName,
          userIdentity, userName, userGender,userBirthday, userBirthday,
          userAddress, qqOpenId, weiboOpenId, weChatOpenId, userIcon,
          userDes, companyId, userSalary, userCreatedTime, userLoginedTime,
          userStatus) vlaues(#{userEmail}, #{userPhone}, #{userPwd}, #{userNickName},
          #{userIdentity}, #{userName}, #{userGender},#{userBirthday}, #{userBirthday},
          #{userAddress}, #{qqOpenId}, #{weiboOpenId}, #{weChatOpenId}, #{userIcon},
          #{userDes}, #{companyId}, #{userSalary}, #{userCreatedTime}, #{userLoginedTime},
          #{userStatus});
      ]]
  </insert>

  <!-- 修改员工的基本信息 -->
  <update id="update" keyProperty="userId" parameterType="">
--     ![CDATA[
--       update t_user u set u.userEmail = #{userEmail}, u.userPhone = #{userPhone},
--         u.userPwd = #{userPwd}, u.userNickName = #{userNickName}, u.userGender = #{userGender},
--         u.userBirthDay = #{userBirthday}, u.userAddress = #{userAddress}
--     ]]
  </update>

  <!-- 分页查询 -->
  <select id="queryByPager" resultMap="BaseResultMap" parameterType="com.gs.common.bean.Pager4EasyUI">
    ![CDATA[
      select * from t_user u where u.userStatus = 'Y'
    ]]
      limit #{beginIndex}, #{pageSize};
  </select>

  <!-- 查询所有员工的基本信息 -->
  <select id="queryAll" resultMap="BaseResultMap">
    select * from t_user;
  </select>


</mapper>