<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.WorkInfoDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.WorkInfo" >
    <id column="workId" property="workId" jdbcType="VARCHAR" />
    <result column="recordId" property="recordId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="workAssignTime" property="workAssignTime" jdbcType="TIMESTAMP" />
    <result column="workCreatedTime" property="workCreatedTime" jdbcType="TIMESTAMP" />
    <result column="workStatus" property="workStatus" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryAll" resultMap="BaseResultMap">
        SELECT * FROM activiti_proj.t_work_info
  </select>

  <insert id="insert" parameterType="com.gs.bean.WorkInfo">
      INSERT INTO activiti_proj.t_work_info
      (workId,recordId, userId, workAssignTime, workCreatedTime,workStatus)
      VALUES
      (uuid(),#{recordId},#{userId},#{workAssignTime},#{workCreatedTime},'Y')
  </insert>

    <delete id="deleteById">
        DELETE FROM activiti_proj.t_work_info WHERE workId=#{workId}
    </delete>
    <update id="update">

    </update>
    <!--冻结工单-->
    <update id="inactive" keyProperty="workId" parameterType="string">
        UPDATE activiti_proj.t_work_info set workStatus='N' WHERE workId = #{workId}
    </update>

    <!--激活工单-->
    <update id="active" keyProperty="workId" parameterType="string">
        UPDATE activiti_proj.t_work_info set workStatus='Y' WHERE workId = #{workId}
    </update>
</mapper>
