<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.WorkInfoDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.WorkInfo" >
    <id column="workId" property="workId" jdbcType="VARCHAR" />
    <result column="recordId" property="recordId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="workAssignTime" property="workAssignTime" jdbcType="TIMESTAMP" />
    <result column="workCreatedTime" property="workCreatedTime" jdbcType="TIMESTAMP" />
    <result column="workStatus" property="workStatus" jdbcType="VARCHAR" />

    <association property="maintainRecord" javaType="com.gs.bean.MaintainRecord">
        <id column="recordId" property="recordId"></id>
        <id column="checkinId" property="checkinId"/>
    </association>

    <association property="user" javaType="com.gs.bean.User">
        <id column="userId" property="userId"/>
        <id column="userNickName" property="userNickName"/>
    </association>
  </resultMap>

    <select id="count" resultType="int">
        <![CDATA[
          SELECT count(workId) FROM t_work_info w where 1 =1 and w.workStatus='Y'
        ]]>
    </select>

    <select id="countByDisable" resultType="int" >
        <![CDATA[
        SELECT count(*) FROM t_work_info w WHERE w.workStatus='N'
    ]]>
    </select>

    <!--分页所有已完成查询全部-->
    <select id="queryByPager" resultMap="BaseResultMap" parameterType="com.gs.common.bean.Pager">
        <![CDATA[
            select w.*,tmR.recordId,tmR.checkinId,u.userId,
            u.userNickName FROM t_work_info w
            Left JOIN t_maintain_Record tmR on w.recordId = tmR.recordId
            Left JOIN t_user u on w.userId = u.userId
            where w.workStatus = 'Y' order by w.workCreatedTime Desc
        ]]>
        limit #{beginIndex}, #{pageSize}
    </select>


    <!--分页所有未完成查询全部-->
    <select id="queryByPagerDisable" resultMap="BaseResultMap" parameterType="com.gs.common.bean.Pager">
        <![CDATA[
            select w.*,tmR.recordId,tmR.checkinId,u.userId,
            u.userNickName FROM t_work_info w
            Left JOIN t_maintain_Record tmR on w.recordId = tmR.recordId
            Left JOIN t_user u on w.userId = u.userId
            where w.workStatus = 'N' order by w.workCreatedTime Desc
        ]]>
        limit #{beginIndex}, #{pageSize}
    </select>

  <select id="queryAll" resultMap="BaseResultMap">
      <![CDATA[
        SELECT * FROM t_work_info
         ]]>
  </select>

   <!-- 添加数据 -->
  <insert id="insert" keyProperty="id" parameterType="com.gs.bean.WorkInfo">
      <![CDATA[
          INSERT INTO t_work_info
          (workId,recordId, userId, workAssignTime, workCreatedTime,workStatus)
          VALUES
          (uuid(),#{recordId},#{userId},#{workAssignTime},now(),'Y')
      ]]>
  </insert>

    <!--更新数据-->
    <update id="update" keyProperty="workId" parameterType="com.gs.bean.WorkInfo">
        <![CDATA[
          UPDATE t_work_info SET workId=#{workId},userId=#{userId},workAssignTime=#{workAssignTime} WHERE workId=#{workId}
        ]]>
    </update>

    <!--未完成工单-->
    <update id="inactive" keyProperty="workId" parameterType="string">
        <![CDATA[
            UPDATE t_work_info set workStatus='N' WHERE workId = #{workId}
           ]]>
    </update>

    <!--已完成工单-->
    <update id="active" keyProperty="workId" parameterType="string">
      <![CDATA[
        UPDATE t_work_info set workStatus='Y' WHERE workId = #{workId}
         ]]>
    </update>

</mapper>
