.container {
    width:100%;

}
.bootstrap-table {
    width: 100%;
}
.modal-content{
    width: 550px;
    height: auto;
}

.modal-dialog.modal-content.modal-header {
    width: auto;
}

.modal-dialog.modal-content.modal-body {
    width: auto;
}

.modal-dialog.modal-content.modal-header input {
    width: 70%;
}

.modal-dialog.modal-content.modal-header select {
    width: 70%;
}
.input-group{
    margin:15px 25px;
}
.modal-content h3{
    margin-top: 15px;
    margin-bottom:5px;
    margin-left: 15px;
}


