.container {
    width:100%;

}
.bootstrap-table {
    width: 100%;
}
.modal-dialog{
    border: 2px;
    height: auto;
    min-height: 350px;
}


.modal-header {
    margin: 10px 15px;
    width: 50%;
    border-bottom:none;
    padding: 0;
}

.input-group{
    margin:15px 25px;
}
.modal-content h3{
    margin-top: 15px;
    margin-bottom:5px;
    margin-left: 15px;
}

.model-content input {
    width:30%;
}



